.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#search{
	width:300px;
	height:150px;
	margin:auto;
	margin-top:20px;
	padding:15px;
}
button{
	position:relative;
	left:50px;
}
.aligning{
	margin-left:700px;
	margin-top:20px;
}
#imagebutton{
	position:relative;
	left:-10px;
	top:-8px;
	margin-bottom:15px;
}
#result{
	margin-top:50px;
}