<<<<<<< HEAD
.logemailandpassword {
  margin-top: 10px;
  width: 35%;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: white;
  size: 100px;
  /* border-color: black; */
  /* font-weight: bold; */
  box-shadow: 20 20px 20px -20px #333;
}
#finder {
  color: blue ;
}
#header {
  text-align: left;
  margin-left: 15px;
}

.loginform {
  width: 400px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
  margin-left: 50%;

}

.loginform h1 {
  color: #1c8abd;
  margin-bottom: 15px;
}

.inputbox{
  border-radius: 20px;
  padding: 12px;
  margin: 10px 0;
  width: 90%;
  border: 1px solid #999;
  outline: none;
}

.butooon{
color: white;
background-color: #1c8abd ;
width: 90%;
padding: 10px;
border-radius: 20px;
font-size: 15px;
margin: 10px 0;
border: none;
outline: none;
cursor: pointer;
}


#hrtwo {
  border: none;
  height: 200px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  box-shadow: 0 10px 10px -10px;
  margin: -50px auto 10px;
  margin-top: 1%;
  size: 25x;
}
#links {
  float: right;
  margin-top: -45px;
}

#search {
  text-align: center;
}

#img {
  border-radius: 50%;
}
.reginform {
  text-align: center;
  margin-top: 7%;
  margin-left: 30%;
}
.loginbutton {
  width: 10%;
  height: 10%;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  background-color: dodgerblue;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}
#inpt {
  border-radius: 25px;
  border-color: cadetblue;
  border: none;
}
.App {
=======
#search {
>>>>>>> 23994a036edd9c351ff8a4fc03bcb09e08909450
  text-align: center;
  background-color: rgb(175, 166, 124);
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
}

#header {
  font-family: "Merienda One", cursive;
  font-size: 60px;
  font-style: italic;
  display: block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

<<<<<<< HEAD
.buttonIn {
  width: 300px;
  position: relative;
  margin-left: 500px;
}

#inpt {
  margin: 0px;
  padding: 23px;
  width: 450px;
  outline: none;
  height: 46px;
  border-radius: 5px;
  border-radius: 10px;
  background-color: white;
}

#butn {
  position: absolute;
  border-radius: 10px;
  z-index: 4;
  border: none;
  height: 40px;
  width: 100px;
  cursor: pointer;
  margin-top: 3px;
  color: white;
  background-color: #1e90ff;
  transform: translateX(345px);
}

.sora{

  width: 300px;
  height: 300px;
}
#bigDiv{
    display: inline-block;
    vertical-align: top;
    width: 56%;
    height:50%;
  
  }

.txt{
  font-size: 20px;
  transform: translateX(0px);
  color: #fff;
  /* margin-bottom: px; */

}
#zerinmidel{
  text-align: center;
  margin-top: 50px;
}

.favpage{
  background-color: #1e90ff; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2px;
  margin-right: 2px;

}
.favpage_{
  background-color: white; /* blue */
  border: none;
  color: #1e90ff;
  padding: 15px 32px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2px;
  margin-right: 2px;
}

.zer{
  background-color: #1e90ff; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: -17px;
}
.zer:hover{
  background-color: rgb(44, 158, 179) ;
}
#wh{
  color: #fff;
}

.zeren{
  background-color: #1e90ff; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: -17px;  
}
.zeren:hover{
  background-color: rgb(44, 158, 179) ;
}
=======
#butn {
  width: 100px;
  height: 45px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Merienda One", cursive;
  margin: 5px;
}

#butn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#butn:active {
  color: #000;
}

#butn:active:after {
  background: transparent;
}

#butn:hover:before {
  opacity: 1;
}

#butn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#inpt {
  font-size: 20px;
  padding: 7px;
  border-radius: 10px;
  height: 45px;
}

>>>>>>> 23994a036edd9c351ff8a4fc03bcb09e08909450
